.titleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.title {
  font-size: 1.5rem;
  color: var(--card);
  margin: auto;
}
.form {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.builderContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.visible.visible {
  display: flex;
  width: 100%;
}
.hidden.hidden {
  display: none;
}
.flipInstruction {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: var(--card);
  text-align: center;
  position: absolute;
  top: 70%;
}
@media (width >= 80rem) {
  .form {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .builderContainer {
    min-width: 658px;
  }
  .flipInstruction {
    top: 80%;
    font-size: 1.5rem;
  }
}
