.title {
  font-size: 2rem;
  text-align: center;
  color: var(--text);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  flex: 1;
}
.buttonsContainer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.visible.visible {
  display: flex;
  width: 100%;
}
.hidden.hidden {
  display: none;
}
