.titleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 1.5rem;
  color: var(--card);
}
.form {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.builderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}
.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
}

.visible.visible {
  display: flex;
  width: 100%;
}
.hidden.hidden {
  display: none;
}
@media (width >= 80rem) {
  .form {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 1.5rem;
  }
  .title {
    font-size: 3.5rem;
  }
  .builderContainer {
    min-width: 658px;
  }
  .buttonsContainer {
    margin-top: auto;
  }
}
