.titleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}
.title {
  font-size: 1.5rem;
  color: var(--card);
  margin: auto;
}
.container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.vertical {
  position: relative;
  aspect-ratio: 4 / 5;
  max-width: 480px;
  margin: auto;
}
.form {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.builderContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.visible.visible {
  display: flex;
  width: 100%;
}
.hidden.hidden {
  display: none;
}
.flipInstruction {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: var(--card);
  text-align: center;
}
@media (width >= 80rem) {
  .form {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 1.5rem;
  }
  .titleContainer {
    align-items: start;
  }
  .title {
    font-size: 3.5rem;
  }
  .builderContainer {
    min-width: 658px;
  }
  .flipInstruction {
    top: 80%;
    font-size: 1.5rem;
  }
}
