.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  z-index: 0;

  &:has(.flip) {
    z-index: 1;
  }
}
.postalWrapper {
  width: 100%;
  perspective: 1000px;
}
.postalInner {
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip {
  transform: rotateY(180deg);
}
.postalBack,
.postalBackVertical {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  height: 100%;
}
.postalBack {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  background-color: var(--card);
  padding: 1rem;
  max-height: 70vh;
  margin: 0 auto;
}
.postalBackVertical {
  aspect-ratio: 4 / 5;
  max-width: 480px;

  .content {
    flex-direction: column-reverse;
  }
  .stamp {
    width: clamp(4rem, 20vw, 8rem);
    height: clamp(4rem, 20vw, 8rem);
  }
  .textarea {
    font-size: 1.5rem;
  }
}
.content {
  width: 100%;
  display: flex;
  gap: 1rem;
  color: var(--card-text);
}
.names {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stamp {
  position: relative;
  width: clamp(4rem, 15vw, 8rem);
  height: clamp(4rem, 15vw, 8rem);
  aspect-ratio: 1 / 1;
  background-color: var(--background);
}
.transparent {
  background-color: transparent;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputGroup {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: 400;

  > label {
    min-width: 3rem;
  }
}
.input,
.textarea {
  width: 100%;
  background-color: transparent;
  color: var(--card-text);
  border: 0;
  border-bottom: 1px solid var(--card-text);

  box-shadow: none;

  &:focus-visible {
    outline: none;
  }
}
.messageInput {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--card-text);
}
.textarea {
  height: 100%;
  font-size: 0.8rem;
  border: none;
  transform: rotate(-2deg);
  padding: 0;
  resize: none;

  &::placeholder {
    color: var(--card-text);
  }
}
.stampsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}
.stampsContainer {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.stampButton {
  border-radius: 0;
  aspect-ratio: 1 / 1;
  width: clamp(4rem, 12vw, 6rem);
  flex-shrink: 0;
  position: relative;
  padding: 0.5rem;
  background-color: transparent;
  opacity: 0.5;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.stampSelected {
  box-shadow: 0 0 8px var(--card);
  opacity: 1;
}
.subtitle {
  font-size: 0.875rem;
  color: var(--text);
}
.searchInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--card);
  border-radius: 50px;
  background-color: transparent;
  color: var(--card);

  &::placeholder {
    color: var(--card);
  }

  &:focus-visible {
    outline: none;
    border-color: var(--text);
    box-shadow: 0 0 5px var(--text);
  }
}

.characterCount {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 0.5rem;
  color: var(--card-text);
  opacity: 0.7;
}
.error {
  font-size: 0.75rem;
}

@media (width >= 80rem) {
  .container {
    gap: 3rem;
  }
  .inputGroup,
  .messageInput {
    font-size: 1.2rem;
  }

  .textarea {
    font-size: 1.5rem;
    padding: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
  .characterCount {
    font-size: 0.75rem;
  }
}
