.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.postalBack {
  width: 100%;
  display: flex;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  background-color: var(--card);
  padding: 1rem;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--card-text);
}
.namesContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.names {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stamp {
  position: relative;
  width: 8rem;
  height: 8rem;
  aspect-ratio: 1 / 1;
  background-color: var(--background);
}
.inputGroup {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}
.input,
.textarea {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--card-text);

  box-shadow: none;

  &:focus-visible {
    outline: none;
  }
}
.messageInput {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.textarea {
  height: 100%;
  width: 80%;
  font-size: 1.5rem;
  border: none;
  transform: rotate(-2deg);
  padding: 2rem;
}
.stampsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stampsContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.stampButton {
  border-radius: 0;
  aspect-ratio: 1 / 1;
  width: 6rem;
  position: relative;
  /* border: 3px solid var(--card); */
  padding: 0.5rem;
  background-color: transparent;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    /* border-color: var(--card-text); */
    box-shadow: 0 0 8px var(--card);
  }
}
.subtitle {
  font-size: 1rem;
  color: var(--text);
}
