.postalBackContainer {
  position: absolute;
  z-index: 0;
}

.postalBackContainer.flipped {
  z-index: 1;
}

.postalBack,
.postalBackVertical {
  transform: rotateY(180deg);
  backface-visibility: hidden;
  height: 100%;
  gap: 1rem;
}
.postalBack {
  width: 100%;
  display: flex;
  flex-direction: column;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  background-color: var(--card);
  padding: 1rem;
  max-height: 70vh;
  margin: 0 auto;
}
.postalBackVertical {
  aspect-ratio: 4 / 5;
  max-width: 480px;
  margin: auto;

  .content {
    flex-direction: column-reverse;
  }
  .stamp {
    width: clamp(4rem, 20vw, 8rem);
    height: clamp(4rem, 20vw, 8rem);
  }
  .textarea {
    font-size: 1.2rem;
  }
}
.content {
  width: 100%;
  display: flex;
  gap: 1rem;
  color: var(--card-text);
}
.names {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stamp {
  position: relative;
  width: clamp(4rem, 15vw, 8rem);
  height: clamp(4rem, 15vw, 8rem);
  aspect-ratio: 1 / 1;
  background-color: var(--background);
}
.transparent {
  background-color: transparent;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputGroup {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: 400;

  > label {
    min-width: 3rem;
  }
}
.input,
.textarea {
  width: 100%;
  background-color: transparent;
  color: var(--card-text);
  border: 0;
  border-bottom: 1px solid var(--card-text);

  box-shadow: none;

  &:focus-visible {
    outline: none;
  }
}
.messageInput {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--card-text);
}
.textarea {
  height: 100%;
  font-size: 0.8rem;
  border: none;
  transform: rotate(-2deg);
  padding: 0;
  resize: none;

  &::placeholder {
    color: var(--card-text);
  }
}

.characterCount {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  font-size: 0.5rem;
  color: var(--card-text);
  opacity: 0.7;
}
.error {
  font-size: 0.5rem;
}

@media (width >= 80rem) {
  .inputGroup,
  .messageInput {
    font-size: 1.2rem;
  }

  .textarea {
    font-size: 1.5rem;
    padding: 2rem;
  }

  .characterCount {
    font-size: 0.75rem;
  }
  .error {
    font-size: 0.75rem;
  }
  .postalBack {
    gap: 2rem;
  }
}
