.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.postalBack {
  width: 100%;
  display: flex;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  background-color: var(--card);
  padding: 1rem;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--card-text);
}
.namesContainer {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.names {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stamp {
  position: relative;
  width: clamp(4rem, 15vw, 8rem);
  height: clamp(4rem, 15vw, 8rem);
  aspect-ratio: 1 / 1;
  background-color: var(--background);
}
.transparent {
  background-color: transparent;
}
.inputGroup {
  width: 100%;
  display: grid;
  gap: 0.5rem;

  font-size: 0.875rem;
  font-weight: 400;
}
.input,
.textarea {
  background-color: transparent;
  color: var(--card-text);
  border: 0;
  border-bottom: 1px solid var(--card-text);

  box-shadow: none;

  &:focus-visible {
    outline: none;
  }
}
.messageInput {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.textarea {
  height: 100%;
  font-size: 0.8rem;
  border: none;
  transform: rotate(-2deg);
  padding: 1rem;
  padding-top: 0;

  &::placeholder {
    color: var(--card-text);
  }
}
.stampsSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.stampsContainer {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}
.stampButton {
  border-radius: 0;
  aspect-ratio: 1 / 1;
  width: clamp(4rem, 12vw, 6rem);
  position: relative;
  padding: 0.5rem;
  background-color: transparent;
  opacity: 0.5;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.stampSelected {
  box-shadow: 0 0 8px var(--card);
  opacity: 1;
}
.subtitle {
  font-size: 0.875rem;
  color: var(--text);
}

@media (width >= 64rem) {
  .inputGroup,
  .messageInput {
    font-size: 1.2rem;
  }

  .textarea {
    font-size: 1.5rem;
    padding: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}
