:root {
  --milk: #dabdab;
  --jollyberry: #7c0403;
  --wood: #471a07;
  --juniper: #1f2911;
  --mistletoe: #65722a;
  --bubblegum: #fdd4ff;
}

html,
body {
  position: relative;
  min-height: 100dvh;
  max-width: 100vw;
}

html {
  color: var(--text);
  background: var(--background);
  transition: background-color 0.4s ease, color 0.4s ease;
}

body {
  font-family: var(--font-merriweather), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

[data-theme="green"] {
  --background: var(--juniper);
  --text: #fff;
  --card: var(--mistletoe);
  --card-text: #fff;
}

[data-theme="red"] {
  --background: var(--jollyberry);
  --text: #fff;
  --card: var(--milk);
  --card-text: #000;
}

[data-theme="wood"] {
  --background: var(--wood);
  --text: #fff;
  --card: var(--bubblegum);
  --card-text: #000;
}

html[data-background-theme="classic"] {
  color: var(--text);
  background: var(--background);
  background-image: none;
}

html[data-background-theme="diagonal"] {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 32px, var(--background) 32px, var(--background) 64px);
  background-color: var(--card);
}

html[data-background-theme="diamond"] {
  background: repeating-conic-gradient(from 45deg, var(--background) 0% 25%, var(--card) 0% 50%);
  background-size: 60px 60px;
  background-color: var(--card);
}

.srOnly {
  visibility: hidden;
  position: absolute;
}
