:root {
  --milk: #dabdab;
  --jollyberry: #7c0403;
  --wood: #471a07;
  --juniper: #1f2911;
  --mistletoe: #65722a;
  --bubblegum: #fdd4ff;
}

html,
body {
  position: relative;
  min-height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text);
  background: var(--background);
  font-family: var(--font-merriweather), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

[data-theme="green"] {
  --background: var(--juniper);
  --text: #fff;
  --card: var(--mistletoe);
  --card-text: #fff;
}

[data-theme="red"] {
  --background: var(--jollyberry);
  --text: #fff;
  --card: var(--milk);
  --card-text: #000;
}

[data-theme="wood"] {
  --background: var(--wood);
  --text: #fff;
  --card: var(--bubblegum);
  --card-text: #000;
}
