.main {
  padding: 1rem 2rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (width >= 64rem) {
  .container {
    max-width: 48rem;
  }
  .main {
    padding: 4rem 2rem;
  }
}
