.changeButton {
  margin: auto;
}
.uploadButton {
  z-index: 1;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  display: none;
}
.subtitle {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
}
.editContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.settingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.themeSelector {
  display: flex;
  gap: 1rem;
}
.themeButton.themeButton {
  background-color: var(--background);
  border: 2px solid var(--card);
  border-radius: 1000px;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    background-color: var(--background);
    box-shadow: 0 0 8px var(--card);
  }
}
.themeSelected.themeSelected {
  box-shadow: 0 0 8px var(--card);
  opacity: 1;
}
.stickersContainer {
  width: 100%;
}
.stickersSelector {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-color: var(--background) var(--card);
}
.sticker.sticker {
  position: relative;
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1 / 1;
  transition: box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid var(--card);

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.stickerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.error {
  color: var(--error);
  font-size: 0.875rem;
}

@media (width >= 80rem) {
  .settingsContainer {
    flex-direction: row;
  }
  .uploadButton {
    top: 45%;
  }
}
