.container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  z-index: 1;

  &:has(.flip) {
    z-index: 0;
  }
}
.postalWrapper {
  width: 100%;
  perspective: 1000px;
  transition: transform 0.3s;
}
.postalInner {
  width: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.readonly:hover {
  transform: scale(1.05);
  cursor: pointer;

  .postal,
  .postalVertical {
    box-shadow: 0 0 20px var(--card);
  }
}
.flipInstruction {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  color: var(--text);
  text-align: center;
}
.flip {
  transform: rotateY(180deg);
}
.postal,
.postalVertical {
  backface-visibility: hidden;
}
.postal {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  border: 5px solid var(--card);
  border-radius: 8px;
  position: relative;
}
.postalVertical {
  aspect-ratio: 4 / 5;
  max-width: 480px;
}
/* .postalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
} */
.postalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uploadButton {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  display: none;
}
.subtitle {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
}
.editContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.settingsContainer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 1rem;
}

.themeSelector {
  display: flex;
  gap: 1rem;
}
.themeButton.themeButton {
  background-color: var(--background);
  border: 2px solid var(--card);
  border-radius: 1000px;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;

  opacity: 0.5;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.themeSelected.themeSelected {
  box-shadow: 0 0 8px var(--card);
  opacity: 1;
}
.stickersContainer {
  width: 100%;
}
.stickersSelector {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.sticker.sticker {
  position: relative;
  width: 4rem;
  height: 4rem;
  transition: box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--card);

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.stickerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (width >= 80rem) {
  .container {
    gap: 3rem;
  }
  .settingsContainer {
    flex-direction: row;
  }
}
