.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postal {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  border: 5px solid var(--card);
  border-radius: 5px;
  position: relative;
}
.postalContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.postalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uploadButton {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  display: none;
}
.subtitle {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
}

.settingsContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 1rem;
}

.themeSelector {
  display: flex;
  gap: 1rem;
}
.themeButton.themeButton {
  background-color: var(--background);
  border: 2px solid var(--card);
  border-radius: 1000px;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;

  opacity: 0.5;
  transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.themeSelected.themeSelected {
  box-shadow: 0 0 8px var(--card);
  opacity: 1;
}
.stickersSelector {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.sticker.sticker {
  position: relative;
  width: 4rem;
  height: 4rem;
  transition: box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--card);

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);
  }
}
.stickerImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (width >= 64rem) {
  .settingsContainer {
    flex-direction: row;
  }
}
