.postalViewer {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.postalViewerContent {
  width: 100%;
  height: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.postalContainer {
  max-width: 48rem;
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 100%;
}

.postalContainerVertical {
  aspect-ratio: 4 / 5;
  max-width: 32rem;

  .message {
    font-size: 1.2rem;
    padding: 2rem;
  }
}

.postalWrapperCustom {
  height: 100%;
  z-index: 1;
}

.front {
  position: absolute;
  inset: 1px;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border: 5px solid var(--card);
  border-radius: 5px;
}
.back {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--card);
  color: var(--card-text);
  padding: 1rem;
  width: 100%;
  height: 100%;
  inset: 1px;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  height: 100%;
  border-radius: 5px;
}
.flip {
  transform: rotateY(180deg);
}
.postalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.namesAndStamp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.names {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.label {
  min-width: 3rem;
}
.name {
  width: 100%;
  font-size: 0.875rem;
  font-weight: 200;
  display: flex;
  gap: 1rem;
}
.underline {
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--card-text);
}
.message {
  font-size: 0.8rem;
  transform: rotate(-2deg);
}
.stampImage {
  width: clamp(4rem, 15vw, 8rem);
  height: clamp(4rem, 15vw, 8rem);
}
.instruction {
  font-size: 0.875rem;
  color: var(--text);
  text-align: center;
}
.footer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.createPostalLink:hover {
  text-decoration: underline;
}
.copyContainer {
  position: relative;
  background-color: var(--card);
  color: var(--card-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.8rem;
  border-radius: 50px;
  max-width: 350px;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}
.copyText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.copyButton.copyButton {
  background-color: var(--background);
  color: var(--card);
}
.credit {
  font-size: 0.75rem;
  color: var(--text);
  text-align: center;
  margin-top: auto;
}
.copiedText {
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  background-color: var(--background);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--card);
}
@media (width >= 80rem) {
  .name {
    font-size: 1.2rem;
  }
  .message {
    font-size: 1.5rem;
    padding: 2rem;
  }
}
