.svgButton {
  padding: 0;
  width: 2.5rem;
  width: 2.5rem ;
  background-color: var(--card);
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  &:hover {
    background-color: var(--card-text);
    color: var(--card);
    svg {
      path {
        fill: var(--card);
        transition: fill 0.2s ease-in-out;
      }
    }
  }
}