.svgButton.svgButton {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--background);
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--card);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  svg {
    path {
      fill: var(--card);
      transition: fill 0.2s ease-in-out;
    }
  }

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 8px var(--card);

    svg {
      path {
        fill: var(--card);
        transition: fill 0.2s ease-in-out;
      }
    }
  }
}
.active {
  box-shadow: 0 0 8px var(--card);
}
