.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.postalWrapper {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  transition: transform 0.3s;
}

.readonly {
  cursor: pointer;
}

@media (hover: hover) {
  .readonly:hover {
    transform: scale(1.05);
  }

  .readonly:hover > .postalInner > * {
    box-shadow: 0 0 20px var(--card);
  }
}

.postalInner {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}
